.ready-nav-page {
  text-align: left;
  width: 100%;
  padding: 16px 17px 40px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  .search-input {
    position: relative;
    margin-bottom: 7px;
    input {
      height: 20px;
      border: none;
      border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
      &::placeholder {
        color: rgba(0, 0, 0, 0.2);
      }
      &:focus {
        outline: none;
      }
    }
    svg {
      position: absolute;
      right: 0;
      bottom: 5px;
    }
  }
  .tree-nav-block {
    display: flex;
    flex-direction: column;
    width: 272px;
    padding: 0 6px 24px;
    &__link {
      padding-left: 24px;
      color: black;
      &:hover {
        background: rgba(26, 165, 184, 0.15);
        border-radius: 2px;
      }
      &.child {
        padding-left: 48px;
      }
    }
  }
}
