.flex-row {
  display: flex;
  flex-direction: row;
}

.date-range-selector {
  max-width: 300px;
}

.show-all-button {
  margin-left: 16px;
  cursor: pointer;
}

// .modal-backdrop {
//   opacity: 0 !important;
// }