.add-modal {
  .modal-content, .modal-dialog {
    width: 443px !important;
  }
}

.permission-input {
  display: flex;
}

.user-input {
  width: 250px !important;
  margin-right: 16px;
  input {
    font-family: Ubuntu Mono !important;
    font-style: italic !important;
    font-weight: normal !important;
    font-size: 16px !important;
    color: #00000040 !important;
  }
}

.sum-input {
  width: 100px !important;
}

.input-icon-right {
  position: relative;
}

.input-icon-right > i {
  position: absolute;
  font-style: normal;
  top: 6px;
  right: 8px;
  color: #00000040 !important;
}
