.table {
  table-layout: fixed;
  margin-top: 16px;
  margin-left: -8px;
  text-align: left;
  vertical-align: top;
  font-family: "Ubuntu Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  border-collapse: collapse;
  mix-blend-mode: darken;

  th {
    font-weight: bold;
  }

  .sub-column > th {
    font-weight: normal;
  }

  td , th {
    position: relative;
    padding-right: 16px;
    padding-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 80vw;
    height: 24px;
  }

  td {
    color: black;
  }

  button {
    position: absolute;
    height: 20px;
    top: 2px;
    left: 0px;
  }

  .hidden {
    opacity: 0;
  }

  .table-actions {
    min-width: 75px;
  }



  tbody tr:hover {
    cursor: pointer;

    td {
      background-color: rgba(0, 0, 0, 0.04);
    }

    .table-actions {
      background-color: rgba(26, 166, 184, 0);
    }

    .hidden {
      opacity: 1;
    }
  }

  tbody tr.selected {
    border-radius: 4px;
    color: black;
    background-color: rgba(26, 166, 184, 0.2);
    box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  tbody .clickable:hover {
    td {
      background-color: rgba(26, 166, 184, 0.1);
    }

    .table-actions {
      background-color: rgba(26, 166, 184, 0);
    }
  }

  tbody .clickable:active {
    td {
      background-color: rgba(26, 166, 184, 0.2);
    }

    .table-actions {
      background-color: rgba(26, 166, 184, 0);
    }
  }
}

.table-pagination {
  display: flex;
  flex-direction: row;
  margin-top: 8px;  

  .left {
    transform: rotate(180deg) translateY(1px);
  }
  .ellipsis {
    transform: translateY(2px);
    margin-left: 2px;
    margin-right: 2px;
  }

  button {
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    outline: none;
    background-color: transparent;
  }

  .page-button {
    color: #1AA5B8;
    font-family: "Ubuntu Mono", monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
  }

  .selected {
    border-radius: 4px;
    color: black;
    background-color: rgba(26, 166, 184, 0.2);
    box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

