h1 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: bold !important;
  font-size: 24px !important;
  line-height: 24px !important;
  color: #000000;
}

.balance-value {
  font-family: "Ubuntu Mono", monospace;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

.regular-text {
  font-family: "Ubuntu Mono", monospace;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

h2 {
  font-family: "Ubuntu Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.blue-link {
  color: #1AA5B8;
}
