.consumer-profile {
  .group-title {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    span {
      margin-right: 16px;
    }
    button {
      height: 20px;
    }
    a, a:hover, a:visited {
      color: black;
    }
  }
  .header-block {
    h1 {
      margin-bottom: 4px !important;
    }
  }
  .documents-text {
    margin-top: 16px;
    margin-bottom: 48px;
  }

  .links-block {
    width: 220px;
    padding-right: 32px;
    &__links {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      a {
        width: 100%;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        line-height: 20px;
        text-decoration: none;
        &:not(.parent-node) {
          color: rgba(0, 0, 0, 0.4);
          padding-left: 20px;
        }
        .parent-node {
          color: #1AA5B8;
        }
        &:hover {
          color: #ff5550;
        }
      }
    }
  }

  &.page-content {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
  }

  .app-button-group {
    margin-top: 24px;
  }

}
