.datePicker {
  color: #1AA5B8;
  .field {
    .ui.segment {
      box-shadow: 0 1px 2px 0 rgba(34,36,38,.15) !important;
      padding: 1em 1em;
      border: 1px solid rgba(34,36,38,.15) !important;
    }
    .field {
      .ui {
        width: 300px !important;
        input {
          color: #1AA5B8;
          border: 1px solid #1AA5B8 !important;
          border-radius: 4px !important;
          font-family: Ubuntu Mono;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 16px;
        }
        input::placeholder {
          color: #1AA5B8 !important;
        }
        i {
          color: #1AA5B8 !important;
          opacity: unset !important;
        }
      }

    }
  }
}