.statistic-buttons {
  margin-top: 32px;
  margin-bottom: 16px;
  p {
    font-family: Ubuntu Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    color: #000000;
    span {
      color: #1AA5B8;
    }
  }
}