@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');
body {
  overflow-x: scroll;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ui.dropdown>.dropdown.icon {
  line-height: 0.7 !important;
  height: 15px !important;
}

.ui.dropdown .menu>.item {
  color: #000000 !important;
  opacity: 1 !important;
}

.ui.dropdown .menu>.item:hover {
  background: rgba(26,165,184, 0.1);
  z-index: 13 !important;
}

button {
  cursor: pointer;
}